[2018-01-21 09:33] alexellis opened #3 "In-cluster config"
## Description

Let's build out an in-cluster config for this so it could be loaded in the cluster via YAML files.

Might also have to think about the RBAC implications - any additional roles.

[2018-01-21 17:47] alexellis opened #5 "Suggestion: Automated Travis Docker images"
## Suggestion

Automated Travis Docker images

- [ ] CI for building the image using Docker
- [ ] Automatic pushing of image tags with GitHub releases

[2018-01-22 11:30] stefanprodan opened #6 "Implement function specs (faas-netes port)"
Checklist:

Version 1
- [x] replicas
- [x] labels
- [x] env vars

Version 2
- [x] constrains
- [x] limits
- [x] resources
- [x] secrets
- [x] available replicas

[2018-02-13 14:56] #3 closed

[2018-03-14 12:34] alexellis commented on #5
@stefanprodan is this done now?

[2018-03-14 13:29] stefanprodan commented on #5
take a look at https://github.com/openfaas-incubator/faas-o6s/blob/master/.travis.yml

[2018-03-14 15:13] alexellis commented on #5
So can we close the issue?

[2018-03-14 15:59] stefanprodan commented on #5
Have you setup Travis?

[2018-03-20 04:58] dannysemi opened #9 "Feature request: Jobs"
The job resource in kubernetes is really intriguing to me. What about extending the controller to manage jobs as well? Maybe an async function that deploys a function as a job and waits for it to complete its lifecycle?

[2018-03-23 15:49] alexellis opened #10 "Try switching to a non-root user like faas-netes"
Can we switch to a non-root user too like in faas-netes please?

[2018-03-23 16:32] stefanprodan opened #11 "Split RBAC roles read/write"
Split the RBAC in two:

- RW cluster role for Kubernetes events and functions
- RW role for deployments, services, secrets only for openfaas-fn namepace

[2018-03-23 16:33] stefanprodan opened #12 "Add CRD validation"
In order to add validation for the function custom resource we need to break compatibility with 1.8

[2018-03-23 17:17] stefanprodan opened #13 "Add CPU/Memory HPA orchestration"
Create an HPA object based on these labels:

[code]

[2018-03-25 07:52] alexellis commented on #5
I'll add the config later today. I thought this was done already

[2018-03-25 07:52] #6 closed

[2018-04-05 10:11] stefanprodan commented on #5
This can be closed

[2018-04-05 10:51] alexellis commented on #5
Derek close

[2018-04-05 10:52] alexellis commented on #5
You should be able to use Derek to manage these issues / PRs. It may take 5 mins for the CDN cache to clear as I didn't see a .DEREK.yml file in the repo and created one now.

[2018-04-05 10:52] #5 closed

[2018-04-05 15:07] sambooo opened #15 "Should `com.openfaas.scale.{min,max}` be annotations?"
As per the [Kubernetes 1.10 docs](https://v1-10.docs.kubernetes.io/docs/concepts/overview/working-with-objects/labels/),

[...]
We don’t want to pollute labels with non-identifying [...] data. Non-identifying information should be recorded using annotations.

With the caveat that I haven't actually used OpenFaaS, I suspect users will not want to select resources based on these attributes. Is this

[2018-04-05 15:29] stefanprodan commented on #15
Hi Sam,

We use labels because it's the only way to store metadata in a consistent way across Docker Swarm, Nomad and Kubernetes. If OpenFaaS would target only k8s then annotations would be the right way to do it. We've decided to mirror the OpenFaaS stack definition with the CR, this way switching from `faas-cli` to `kubectl` and back should be painless :)

[2018-04-05 15:32] alexellis commented on #15
Sam nice to meet you and welcome to the project. Were you just doing a casual code review or can we help you more with getting started?

[2018-04-05 15:43] sambooo commented on #15
Hi Alex, cheers for the warm welcome :)

I'm just intruding with drive-by thoughts having seen [your tweet](https://twitter.com/alexellisuk/status/981808573096349696)!

[2018-04-05 15:46] alexellis commented on #15
Stefan just mentioned you are working at Weave.. good to have your input. If you would like to [join our Slack workspace you're welcome to](https://docs.openfaas.com/community/#slack-workspace) - and we also have a [docs site under development here](https://docs.openfaas.com). This CRD is quite new so it's not featured there yet.

[2018-04-18 09:27] #10 closed

[2018-04-18 09:27] #11 closed

[2018-05-15 07:57] alexellis opened #17 "Naming of repo"
This repo name is going to be confusing.. what else could we come up with that expresses it better?

Yes I know I had something to do with finding the name originally.

[2018-05-15 10:30] LucasRoesler commented on #17
Looking around the community `openfaas-operator`, `openfaas-controller`, and `openfaas-crd` seem like the natural choices.

Examples:
- https://github.com/coreos/prometheus-operator
- https://github.com/coreos/etcd-operator
- https://github.com/GoogleCloudPlatform/spark-on-k8s-operator
- https://github.com/upmc-enterprises/kong-operator
- https://github.com/caicloud/kubeflow-controller
- https://g

[2018-05-15 11:03] stefanprodan commented on #17
I vote for `openfaas-operator` 🥇

[2018-05-15 16:58] stefanprodan commented on #17
On today meeting with the core contributors we voted for `openfaas-operator` ✌️

[2018-05-15 22:04] alexellis commented on #17
@stefanprodan please start to make changes for CI / namespaces etc so that the rename of the repo goes smoothly. Tell me when you want me to action that.

[2018-05-15 22:04] alexellis commented on #17
Thanks for the input @LucasRoesler

[2018-05-16 11:23] alexellis opened #18 "Regenerate code / rename for openfaas-operator"
## Task

Regenerate code / rename for openfaas-operator

Also change domain name to openfaaas.com

Relates to #17

Suggested by @stefanprodan

[2018-05-17 09:17] stefanprodan opened #19 "Run unit tests with TravisCI"
We should run the unit tests as part of the CI pipeline

[2018-05-19 10:16] stefanprodan opened #20 "List API call crash when replicas are not set"
When the replicas field has no value the `/list` API call fails.

[2018-05-19 12:07] alexellis commented on #20
When is the replica field empty?

[2018-05-19 12:10] stefanprodan commented on #20
When you want HPA v2. Here is an example: https://github.com/stefanprodan/openfaas-flux#manage-openfaas-functions-and-auto-scaling-with-weave-flux

[2018-05-19 12:14] stefanprodan commented on #20
If you define a function with `replicas` the HPA will fight with the Operator control loop:

[code]

In order to let HPA take over you should omit the `replicas` field and set the resources spec:

[code]

[2018-05-19 13:57] alexellis commented on #20
My understand was that we didn't explicitly set `replicas: 1`, but would set `minReplicas` and `maxReplicas` - like with faas-netesd.

[2018-05-21 09:20] stefanprodan commented on #20
@alexellis I've changed the code so now `list` will display the desired replica count.

[2018-05-21 13:09] #17 closed

[2018-05-21 13:09] #19 closed

[2018-05-21 13:09] #20 closed

[2018-05-21 14:31] stefanprodan commented on #18
/derek close

[2018-05-24 18:13] affix commented on #12
@alexellis @stefanprodan I think from the operator we can get the current k8s version and flag it that way

[2018-05-25 10:42] alexellis commented on #18
@stefanprodan what is the update on this issue? Can it be closed yet?

[2018-05-29 12:31] alexellis commented on #18
Why beta and not alpha 2?

[2018-05-29 12:37] stefanprodan opened #24 "Add the Operator to OpenFaaS Helm chart"
We should add the Operator as a optional replacement of faas-netes into the Helm chart.

For this to happen we need to:
- [x] merge PR #23
- [x] rename the CRD from `functions.o6s.io` to `functions.openfaas.com`
- [x] change the Operator code with the above naming #18

[2018-05-29 12:45] stefanprodan commented on #18
We discussed this on Slack, but if you want to use `v1alpha2` I'm ok with it.

[2018-05-29 13:43] alexellis commented on #18
Yes I thought you were asking about the deployment version for Kubernetes and not the version of the operator.

[2018-06-01 05:55] #18 closed

[2018-06-17 00:44] alexellis commented on #24
LGTM

[2018-06-21 12:38] alexellis commented on #24
I know you've been busy, this was raised around a month ago. Do you have an ETA @stefanprodan or do you need someone else to pick this up?

[2018-06-21 18:09] stefanprodan commented on #24
I've made a PR here https://github.com/openfaas/faas-netes/pull/227 please give it a run

[2018-07-06 14:18] #24 closed

[2018-07-07 20:44] alexellis opened #28 "Move to openfaas/ namespace and push to Quay.io"
We should move the Docker image from functions/ to openfaas/ like we're doing on the other repos.

It will give some consistency to the image names and add visibility (with Quay) to potential vulnerabilities in packages.

https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml

Alex

[2018-07-07 20:45] alexellis commented on #28
Example PRs:

https://github.com/openfaas/nats-queue-worker/pull/30

https://github.com/openfaas/nats-queue-worker/pull/31

[2018-07-07 20:46] alexellis opened #29 "Can the operator run as a Role instead of ClusterRole?"
Question from community - can the operator run as a Role instead of ClusterRole?

I know there was some ambiguity about this in the past due the way CRDs/controllers handled event subscriptions. Let's take a look and revisit. From what I could see the Prometheus Operator and others were able to offer both options as configurations like Role/ClusterRole.

Alex

[2018-07-07 20:47] alexellis commented on #13
Sounds good.. we'll also need to document that AlertManager needs to be turned off.

[2018-07-07 20:49] alexellis opened #30 "Allow zero scale 0/0 replicas"
Zero-scale of a function/deployment i.e. 0/0 may fight with the controller.

It is possible with faas-swarm/faas-netes at the moment due to the way the replicas are set.

We should have a way to scale to zero replicas and then have an event or CRD update trigger a scaling event back to the desired min/max. OpenShift has done this for several years and calls it "idling"/"unidling".

[2018-07-11 08:46] alexellis commented on #30
OpenShift manages to do this, so I wonder if we could do something like:

* Save desired min replicas + max replicas into metdata
* Set desired replicas = 0

HPA is now off

When scaling event happens, rehydrate desired min/max values back into correct placement and HPA will take over.

[2018-07-22 21:30] #28 closed

[2018-07-24 10:10] #29 closed

[2018-07-24 16:03] edvald opened #37 "Operator fails with invalid value (integer) in memory limit/request"
It seems the operator trips up when a `Function` is posted that has numeric values for memory limit/requests.

Here's the troublemaker `Function` (as returned by kubectl):
[code]

Logs from operator:
[code]

So the Function spec was incorrect on my side, but this would ideally be caught by #12. Once I fix the values, the pod kicks off as expected.

p.s. keep up the good work!

[2018-07-24 20:50] alexellis commented on #37
Looks like the omission of "Mi" caused this, correct?

Alex

[2018-07-24 21:13] edvald commented on #37
Yep exactly.

[2018-07-24 21:15] edvald opened #38 "Missing configuration option for ImagePullPolicy on Deployments"
Came across this while figuring out why the `image_pull_policy` environment variable, which is included the Helm chart, wasn't working.

Seems it hasn't been implemented yet so I've started working on a quick PR. Will post it tonight or tomorrow.

[2018-07-26 08:50] #12 closed

[2018-07-26 08:50] #37 closed

[2018-07-26 08:50] #38 closed

[2018-07-30 00:47] burtonr opened #41 "One bad function deployment causes strange behaviour"
When deploying a function goes bad (for example: the image cannot be pulled), the Operator continuously throws an error.

* The UI is blank
* `faas list` shows a 500 error

No functions are available or visible in the UI. It appears that nothing is deployed

Running `faas list` shows a 500 error
[code]
The `faas invoke` still works as expected.

The issue _appears_ to be here: https://github.com/o

[2018-07-30 09:21] alexellis commented on #41
Please provide an example of a "bad" function for testing the fix.

[2018-08-01 13:34] #41 closed

[2018-08-29 05:38] insertjokehere opened #45 "Node Selector for Functions"
Some of the functions that I am trying to run on OpenFaaS can only run on certain nodes in my cluster. For 'normal' workloads I would use a nodeSelector to ensure the pods get scheduled in the right place, but it doesn't seem to be possible to do this with the Function CRD

[2018-08-29 10:35] ivanayov commented on #45
Derek add label: question

[2018-08-29 21:12] insertjokehere commented on #45
Doh! I looked at that file as well. Thanks

[2018-08-29 21:12] #45 closed

[2018-08-30 15:51] alexellis commented on #45
Derek lock

[2018-08-30 15:51] alexellis commented on #45
Glad we could help 😄

[2018-09-08 21:59] def1oyd opened #47 "Deployments keep being updated when docker registry secret is provided"
I am on openfaas-operator 0.8.6 and I am deploying a function which its image is in a private registry.

I followed https://docs.openfaas.com/deployment/kubernetes/#create-an-image-pull-secret to provide the registry secret in my `stack.yml`. The `faas-cli deploy` had been accepted, and the deployment was created successfully in Kubernetes.

But I found that there were lots of exited Pods of this

[2018-09-09 08:54] def1oyd commented on #47
Thanks for the replies!

I haven't tried faas-netes, but I think it will work, because in this case it is the operator doing the checkings, and reacting to the results. Here the operator keeps updating the deployment as a result to the checking failures.

faas-netes does not check the Kubernetes resources and react to the result, so I think it will be fine.

Currently I am using a container built

[2018-09-09 11:51] LucasRoesler commented on #47
After spending some time on it, i think the simplest and correct approach is to just check both image pull secrets and the projected secrets each time, like this

[code]

This still wont cover the case where another component has modified the secrets or image pull secrets lists, but I am not sure we can easily detect that.

[2018-09-09 11:59] LucasRoesler commented on #47
If we really want to check that the `Function` spec used to create the `Deployment` has changed, we probably need to embed the `Function` spec as an annotation on the `Deployment` and compare with that.

What are the situations where the `Function` object changes but the `Deployment` doesn't?

[2018-09-09 13:45] stefanprodan commented on #47
@LucasRoesler embedding the function definition in the deployment annotation seems like the right approach to me. On every update event we can compare the two objects with `github.com/google/go-cmp/cmp` and detect changes in a reliable manner.

[2018-09-19 11:36] alexellis opened #49 "Regression issue - no labels or annotations are set by default"
## Problem

Regression issue - no labels or annotations are set when deploying functions.

See notes in linked PR review comments for more details.

## Reproducing the issue

* Deploy the latest operator version

[code]

* Deploy a function

[code]

No labels or annotations are added.

[code]

Reported in review comments for #48

There should always be one annotation to stop Weave Cloud scraping f

[2018-09-19 11:36] alexellis commented on #49
Attention @ewilde @stefanprodan @LucasRoesler

[2018-09-19 12:05] stefanprodan commented on #49
This is the correct behaviour in my opinion since the operator API returns the function custom resource definition not what's being materialised in the deployment spec. If you add labels and annotations in the function definition those will be present in the response.

[2018-09-19 12:07] LucasRoesler commented on #49
Currently the labels and annotaitons are pulled directly from the Function CRD

https://github.com/openfaas-incubator/openfaas-operator/blob/5548b019fe49b2f7f7d31f354f6825c2546ed751/pkg/server/list.go#L14-L42

And those labels and annotaitons would come from the request that is sent by the CLI

https://github.com/openfaas-incubator/openfaas-operator/blob/5548b019fe49b2f7f7d31f354f6825c2546ed751/pk

[2018-09-19 12:08] stefanprodan commented on #49
@LucasRoesler yes that's the case and it's not a mistake, I did this on purpose, there is no need in my opinion to query the deployment spec.

[2018-09-19 12:15] LucasRoesler commented on #49
I see your point, we just submitted comments nearly at the same time :) I agree that the current behavior is correct as implemented and semantically correct.

Internal labels/annotations that can not be modified by the user, probably don't need to be reported in the API.

If we wanted to do that in the Operator, then we should probably modify the Function spec before submitting it to k8s (like a m

[2018-09-19 12:17] stefanprodan commented on #49
We should not expose implementation details to our end user over the API. The fact that we add "special" labels and annotations to the deployment are an OpenFaaS internal thing not user facing.

@alexellis why do you consider this a bug and high prio?

[2018-09-19 12:18] alexellis commented on #49
This behavior is incorrect and inconsistent, but after further analysis I can remove the labels.

[2018-09-19 18:02] #47 closed

[2018-09-21 20:25] def1oyd opened #50 "The operator is consuming massive resources and crashing the Kubernetes API server"
I have upgraded my openfaas-operator to 0.8.8 in order to fix #47  (Thanks for the quick fix!)
Unfortunately I am facing the similar problem.

## Expected Behaviour

Function deployments and services are updated without any error.

## Current Behaviour

After upgraded, the pods / deployments were getting killed and recreated again and again like in #47.

Then I dig into the log of the operator, an

[2018-09-21 20:56] alexellis commented on #50
What do we have in the helm chart?

[2018-09-21 21:01] alexellis commented on #50
@def1oyd please can you reformat your issue with the template from faas-netes? The template will ask you to give a full set of steps to reproduce this issue. https://raw.githubusercontent.com/openfaas/faas-netes/master/.github/ISSUE_TEMPLATE.md

Alex

[2018-09-21 21:12] alexellis commented on #50
While we're waiting for instructions for repro - can you give the newer version another shot and this time print the spec out with `kubectl get -o json`? I want to see what's happening in the annotation field `com.openfaas.function.spec`.

[2018-09-21 21:30] alexellis commented on #50
I've been able to reproduce the issue with a very simple use-case.

1. Deploy operator
2. Deploy nodeinfo
3. Machine crashes and uses inordinate amount of resources due to looping content into the annotation field.

I couldn't copy/paste the whole output, but it's shown up below:

https://gist.github.com/alexellis/f0b61893d9af36cdbcb07fff531387f0

I'll roll back one version. @stefanprodan Lucas is

[2018-09-21 21:40] def1oyd commented on #50
Thanks for the quick responses!
I have updated the issue, hope that helps!

[2018-09-21 21:51] def1oyd commented on #50
I gave it another shot, and captured the deployment annoations.
This is my `com.openfaas.function.spec`

I can't post it here too due to the maximum character limitation, the `com.openfaas.function.spec` has > 400k characters.

Please view it in gist

[https://gist.github.com/def1oyd/0f8e467b2f6df81c765169956e19d3f7](https://gist.github.com/def1oyd/0f8e467b2f6df81c765169956e19d3f7)

[2018-09-21 22:01] alexellis commented on #50
Thanks. I've reverted the helm chart to a working version. I'd suggest you use faas-netes for the time-being and as soon as someone is able to dedicate some time to this we'll update you here.

Alex

[2018-09-21 22:07] def1oyd commented on #50
Understood, I will switch to faas-netes, Thank you for your time 😃

[2018-09-22 07:58] stefanprodan commented on #50
Derek assign: me

[2018-09-22 08:05] alexellis commented on #50
[code]

Last night I wrote some unit tests for `makeAnnotations` which showed the spec field being serialised in some kind of loop. This edit fixes the annotation from getting filled, but it doesn't resolve the issue with the outer checking where we see repeatedly:

[code]

[2018-09-22 08:28] alexellis commented on #50
Annotations unit tests - https://gist.github.com/alexellis/eb8e11e4a4950722a647c12081915ac1

[2018-09-22 18:00] #50 closed

[2018-09-24 07:33] alexellis commented on #50
@def1oyd we have released a fix to the Operator, updated the helm chart and will be doing a root-cause analysis on what happened.

Thanks for your help and if you would like to try the Operator again I've done some testing with service account secrets and regular image pull secrets and it worked as expected.

Alex

[2018-09-24 07:33] alexellis commented on #49
Derek close

[2018-09-24 07:33] #49 closed

[2018-09-24 08:31] alexellis commented on #50
@def1oyd would you like an invitation to the Slack community where the OpenFaaS community are discussing and iterating on features / issues? https://docs.openfaas.com/community/

Regards,

Alex

[2018-11-19 16:31] bartsmykla opened #54 "Fix validation of FunctionResources"
OpenFaaS Cloud when deploying function is not using CPU limit, and when it's not provided it's send as empty string, which is failing validation with error: `spec.limits.cpu in body should match '^[0-9]+(m)'`
## Expected Behaviour

When function is being deployed without resources limits/requests it should validate correctly.

## Current Behaviour
When we are trying to deploy function without cpu/

[2018-11-19 16:38] stefanprodan commented on #54
Deploying with limits at all should work? Did you test this change? I would test it without limits, only with cpu limit and only with memory limit.

[2018-11-19 16:42] bartsmykla commented on #54
@stefanprodan I'm testing it now

[2018-11-19 16:55] bartsmykla commented on #54
@stefanprodan I have tested it and without limits it's fine

[2018-11-19 16:58] stefanprodan commented on #54
Great

[2018-11-19 17:07] bartsmykla commented on #54
I have created Pull Request for that (https://github.com/openfaas-incubator/openfaas-operator/pull/55) but I need to test it tomorrow morning. My tests were:
- deploying function without limits
- deploying function with limit only for CPU
- deploying function with limit only for memory
- deploying function with limits for CPU and memory
If anyone wants to test it before me feel free to do so. :-)

[2018-11-20 11:50] bartsmykla commented on #54
@alexellis @stefanprodan I tested the code and it fixes the problem. It took me a little bit longer, because I didn't know that before `omitempty` can't be space, so it didn't work at the beginning

[2018-11-20 16:01] dedene opened #56 ""image_pull_policy" environment variable not respected"
## Expected Behaviour
OpenFaaS is deployed using Faas-netes and Helm, with values

[code]

checking that the image_pull_policy is set for the operator container in the gateway pod:
[code]

and creating a function where the docker tag is not "latest", i.e. the echo example from https://github.com/openfaas/faas/blob/master/sample-functions/echo/Dockerfile with following definition:

[code]

I was ex

[2018-11-22 12:35] #54 closed

[2018-11-30 14:55] alexellis opened #57 "Bump Golang version to 1.10.x"
## Expected Behaviour

It doesn't seem like 1.11 is quite ready for us or visa versa, but we can move off 1.9 and up to 1.10.x.

## Possible Solution

Update base Docker images and do smoke testing.

## Scope

* Dockerfile
* Dockerfile.armhf

The Alpine versions can also be bumped to 3.8 as we've used that in other areas in the project with success.

[2018-11-30 14:58] alexellis commented on #57
I'd also recommend looking at openfaas/faas-netes to see how that's looking right now.

[2018-11-30 14:59] alexellis opened #58 "Add Dockerfile for ARM64"
## Expected Behaviour

A valid Dockerfile should exist for ARM64

## Current Behaviour

It doesn't

## Possible Solution

Create one and test the build. Runtime is harder, so should be kept for a later, larger co-ordinated effort.

ARM64 available via Scaleway, Packet, AWS A1 instances, buy-your-own Rock64 board etc.

[2018-12-02 14:07] LucasRoesler opened #60 "Can not pass the certifier"
## Expected Behaviour

Running [openfaas/certifier](https://github.com/openfaas/certifier) using `make test-kubernetes` should pass on `docker-for-desktop`

## Current Behaviour

Running [openfaas/certifier](https://github.com/openfaas/certifier) using `make test-kubernetes` does not pass with various issues.  Specifically, 502 errors when invoking the test functions

[code]

While investigating I

[2018-12-02 20:41] alexellis opened #61 "Services are not re-created when deleted manually"
## Expected Behaviour

If someone deletes a resource which belongs to the operator, then the operator should re-create it - whether that be the deployment or the service entry.

## Current Behaviour

It doesn't - it won't re-create the ClusterIP service.

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

These are the logs that we get:

[code]

The error `'openfaas-fn/figlet': deploy

[2018-12-02 20:41] alexellis commented on #61
Found by @LucasRoesler via #60

[2018-12-02 20:46] #57 closed

[2018-12-02 21:01] alexellis commented on #61
Looking into this I'm seeing something like the following:

is there a deployment object?

no -> create the ClusterIP Service, then the Deployment
yes -> carry on

https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/controller/controller.go#L299

So if that's the case, it may be why we're not getting the Service created.

[2018-12-02 21:12] alexellis commented on #61
We may be looking at a patch that looks something like this:

[code]

I tested it on my cluster but it only "works" if the `syncHandler` runs.

On deployment it remediated by creating the Service, but not after that, so we may need some more tweaking:

[code]

[2018-12-02 21:38] #58 closed

[2018-12-02 22:39] alexellis opened #64 "Excessive latency when serving function list endpoint"
I've noticed excessive latency when serving function list endpoint when compared to [faas-netes](https://github.com/openfaas/faas-netes). For instance we have 100 function deployments on the community cluster right now running with faas-netes, but calling the 127.0.0.1:8080/system/functions endpoint takes ` real 0m 0.05s`

The operator is taking a similar amount of time some of the time, but on su

[2018-12-02 22:48] alexellis commented on #64
List endpoint -> https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/server/list.go

[2018-12-02 22:53] alexellis commented on #64
The functions I deployed were from the certifier so some have embedded annotations/labels. Even with store functions: figlet, certinfo and nodeinfo - calling the endpoint seems to give more latency when called several times.

[2018-12-02 23:04] alexellis commented on #64
It might be worth us adding the following for belt and braces, but it made no difference to performance:

[code]

[2018-12-02 23:15] alexellis commented on #64
This is the kind of latency I'm seeing when I added tracing points with glog and time.Start/Since:

[code]

It seems like the "getReplicas" function is a source of latency adding about 0.5s per function in the cluster.

[2018-12-02 23:32] alexellis commented on #64
Doing a list of the functions followed by a listing of the deployments seems to be more performant and time-consistent than listing functions and then querying each deployment individually. With that change I can't reproduce the issue as above.

[2018-12-03 08:52] alexellis commented on #64
@stefanprodan suggested this behaviour may be related to rate limiting enforced by the Kubernetes API Server.

Given my approach reduces API calls this would make sense. `faas-netes` also does a List followed by iteration rather than Get x N deployments. The suggestion from Stefan is to use a Shared Informer which caches the results it hears from the Kubernetes API server rather than calling out t

[2018-12-03 08:54] alexellis commented on #64
The following uses a shared informer: `openfaas/openfaas-operator:0.8.12-rc6` and `Get` - this resolves the latency issue. ✅

[2018-12-03 10:48] #61 closed

[2018-12-04 18:45] alexellis commented on #60
Derek close: resolved

[2018-12-04 18:45] #60 closed

[2018-12-04 18:46] alexellis commented on #64
Derek close: via #65

[2018-12-04 18:46] #64 closed

[2019-01-04 12:04] stefanprodan opened #67 "Replace glog with k8s.io/klog"
## Context

Kubernetes is replacing glog with [k8s.io/klog](https://github.com/kubernetes/klog) we should do the same.

[2019-01-04 15:31] alexellis opened #69 "Implement openfaas-provider secrets handler"
## Expected Behaviour

The faas-netes should expose the required secrets management APIs as specified in openfaas/faas#807

As per https://github.com/openfaas/faas-netes/issues/342 and
https://github.com/openfaas/faas-provider/pull/12

## Current Behaviour

Secrets created via `kubectl` manually

[2019-01-04 15:34] #67 closed

[2019-01-04 15:40] stefanprodan commented on #69
Derek assign: me

[2019-01-08 11:50] #69 closed

[2019-01-08 11:56] alexellis commented on #56
@LucasRoesler PTAL

[2019-01-11 15:51] alexellis opened #71 "Return error messages from HTTP handlers in body"
## Expected Behaviour

Return error messages from HTTP handlers in body

## Current Behaviour

We just get the error codes

## Possible Solution

See the new secrets handler

https://github.com/openfaas-incubator/openfaas-operator/tree/master/pkg/server

[2019-01-13 10:44] LucasRoesler commented on #56
**TL;DR:** This value should be `Always` by default but is/can be configured via the `image_pull_policy` ENV variable in the operator pod.  When deploying with the Helm chart this is controlled by the `faasnetesd.imagePullPolicy` value.

@dedene can you verify the your helm value and the value of the ENV variable?

---

**The Gory Details**

I dug through the code a little bit so that I could docu

[2019-01-13 11:44] LucasRoesler commented on #56
Right now, just waiting on the verification of the env value from Peter

[2019-01-24 19:22] pcsx22 commented on #71
This looks like a issue I can start with and get used to the contrubution procedure. I will start looking into it.

[2019-01-24 19:25] alexellis commented on #71
Thank you

[2019-02-09 09:38] #71 closed

[2019-03-08 08:18] wouterh commented on #56
@LucasRoesler I am a colleague of @dedene:

the environment variable is set correctly:

[code]

To verify even more:

[code]

For a freshly deployed function:

[code]

[2019-03-08 10:52] LucasRoesler commented on #56
@wouterh thanks for following up.  Unrelated to this issue, i noticed that you are using operator version 0.8.9, the latest release is 0.9.1.  There is a small chance, but perhaps upgrading might help.

I have to be honest, I am at a loss.  I reviewed the code again, and it seems like it should (in the worst case) default to Always.  I will have to hack on it a little bit to trace it a little bett

[2019-03-08 10:57] wouterh commented on #56
I also reviewed the related code and I am also puzzled as to why it doesn't work as expected. I will try upgrading later today 🤞

[2019-03-08 13:10] wouterh commented on #56
@LucasRoesler I've reviewed the code again and I think I spotted the error. The imagePullPolicy passed as an argument to `NewController` is never copied into the controller structure:

https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/controller/controller.go#L110-L119

[2019-03-08 14:02] LucasRoesler commented on #56
Nice catch and PR!

[2019-03-08 14:37] #56 closed

[2019-03-18 18:22] jpds opened #74 "Min replica missing from CRD loop"
## Expected Behaviour

As per https://github.com/openfaas/faas-netes/issues/390 - the min replica value is not respected in the CRD loop.

[2019-03-20 16:40] alexellis commented on #74
@stefanprodan @lucasroesler is anyone looking at this?

[2019-03-20 22:15] LucasRoesler commented on #74
I can take a stab at this.  Looking through the code, it seems like it could be a one line change:

https://github.com/openfaas-incubator/openfaas-operator/blob/0a101ece8ea05d235ea02750de7e3e3e4af49b76/pkg/controller/deployment.go#L57

We can modify it to set Replicas to `max(function.Spec.Replicas, getMinReplicaCount(function.Spec.Labels)`

As far as I can tell, `newDeployment` is used to constru

[2019-03-22 08:56] alexellis commented on #74
I'm curious as to why this isn't working as per the other providers.

Is this due to the use of the CRD vs the API?

@LucasRoesler please go ahead with whatever you feel would be the best fix.

Alex

[2019-03-22 08:57] alexellis commented on #74
This is how it's done in faas-swarm: https://github.com/openfaas/faas-swarm/blob/master/handlers/deploy.go#L339

Alex

[2019-03-22 09:47] LucasRoesler commented on #74
The bug is that the replica labels are not respected at all in the reconciliation loop, it just doesn't exist.  The api submits and the data is there, but it is ignored except for during the "apply" command

[2019-03-23 10:20] alexellis commented on #74
I think this is partially caused by the additional option of specifying an initial replica count. This doesn't really align well with the existing operating model where picking a min replica count is done through the scaling label.

We need to come up with a priority order if we want to keep that field and have it set the min replica count for scaling too.

[2019-03-23 10:52] jpds commented on #74
In the normal Kubernetes deployment/HPA model, the replicas value set on the deployment is ignored by the HPA and governed by the latter instead.

[code]

[2019-03-24 09:18] LucasRoesler opened #76 "Improve the pull request template by providing better instructions around the certifier"
When I submitted my last PR I noticed that it asked me to run the certifier. I hadn't done this recently and took me a few minutes to figure out again.  It will simplify the PR process for contributors and help ensure the certifier is actually run if we provide more explicit instructions about how to run it for a pull request.

We could add a new doc in the repo `certifier.md` that can provide ins

[2019-03-24 09:27] alexellis commented on #76
Is it run as part of CI yet? That's what happens in the faas repo if you want to check that out.

[2019-03-24 09:40] LucasRoesler commented on #76
I like that idea even better :) it does not seem to be part of the operator CI yet, i will check out the faas repo

[2019-04-22 08:45] stefanprodan opened #78 "Support http probes"
Port https://github.com/openfaas/faas-netes/pull/414

[2019-04-22 09:19] alexellis opened #80 "Feature: config option to force non-root user on functions"
## Expected Behaviour

As an OpenFaaS cluster operator, I should be able to set an env-var that states all functions should run as a non-root user i.e. > 10000.

## Current Behaviour

Possible but only with cumbersome Kubernetes extensions/policies.

## Possible Solution

Some variation of:

[code]

## Steps to Reproduce (for bugs)

1. `faas-cli new --lang Dockerfiles`
2. Add `USER root` at end of

[2019-04-22 09:21] stefanprodan commented on #80
This is blocked by faas-nest types package, the env vars should be implemented there in the bootstrap config, released with sem ver and pulled into the operator with dep.

[2019-04-23 18:48] #78 closed

[2019-05-30 07:53] alexellis opened #82 "Convert examples in README to use faas-cli to create secrets"
Convert examples in README to use faas-cli to create secrets

## Expected Behaviour

`faas-cli secret` can be used to create secrets and provides one unified view of secret management.

[code]

## Current Behaviour

We only mention the approach with `kubectl`

## Possible Solution

Update to use the new `faas-cli secret` command. https://www.openfaas.com/blog/unified-secrets/

[2019-06-25 06:51] alexellis commented on #82
Derek close: no volunteers, so I took this one.

[2019-06-25 06:51] #82 closed

[2019-06-25 06:52] alexellis commented on #80
@stefanprodan where is this today?

[2019-06-25 07:07] stefanprodan commented on #80
We can close this since the security context code is now shared between faas-netes and the operator. Also the helm chart sets the same env vars for both controllers.

[2019-06-25 07:36] alexellis commented on #80
/close

[2019-06-25 07:36] #80 closed

[2019-06-25 07:36] alexellis commented on #80
Thanks

[2019-06-26 08:06] Qolzam opened #84 "Problem with Azure AKS Kubernetes service - deployment object not created"
## Expected Behaviour

Using *faas-cli* or *.yaml* to create a function on K8S.
Running bellow command:
[code]
 It should show deployment object for that function.

Opening OpenFaaS Portal, I should see *Ready* status in OpenFaaS Portal.

## Current Behaviour

Using *faas-cli* or *.yaml* to create a function on K8S.
Running bellow command:
[code]
 It doesn't show any deployment object for the func

[2019-06-26 08:19] alexellis commented on #84
^ perhaps you can at least give something? How about this? https://docs.microsoft.com/en-us/azure/aks/openfaas

[2019-06-26 08:19] alexellis commented on #84
@burtonr please could I ask you to try two scenarios?

1x cluster with faas-netes
1x cluster with the OpenFaaS Operator

(Switching between these two options is just a helm flag)

[2019-06-26 08:21] alexellis commented on #84
[code]

I noticed in your Slack screenshot you weren't using `openfaas-fn` but something like `openfaas-stg`? Are you using non-standard namespaces? How are you configuring this?

[2019-06-26 13:54] burtonr commented on #84
@alexellis and @Qolzam I was able to create 2 new clusters, and deploy functions to each of them (with `faas-cli`) Everything was working perfectly for me.

Created 2 new AKS Kubernetes clusters:
[code]
faas-netes was used for `openfaas-aks1` cluster via Helm, and the openfaas-operator was used for `openfaas-aks2` cluster by including the `--set operator.create=true` flag, again with Helm

Created

[2019-06-27 09:16] Qolzam commented on #84
@burtonr Thank you for testing and fast reply.
@alexellis I have added details steps in an article ( I have been writing already an article).

Indeed, I have created another cluster and following steps in [article](https://medium.com/@qolzam/openfaas-multi-stage-with-istio-on-kubernetes-bf184d3b6955) everything is working well and I can deploy faas function with *faas-cli* or *.yaml* file. I am no

[2019-06-27 09:21] stefanprodan commented on #84
@Qolzam from the print screens you posted on Slack your old cluster had Istio on it. Have you enabled global mTLS? If so maybe the operator couldn't reach the Kubernetes API if AKS doesn't use the upstream default domain `.cluster.local`.

[2019-06-27 10:06] Qolzam commented on #84
@stefanprodan, thanks for asking but I am not using mLTS.

[2019-07-09 10:26] LucasRoesler opened #85 "Always encode label values as strings"
## Expected Behaviour

As a user, I should not need to care about quoting label values

## Current Behaviour

In https://github.com/openfaas-incubator/faas-idler/issues/27 the user experienced an error that was cryptically reported to the user as

[code]

## Possible Solution

We should always encode label values as a string, not the json value

## Steps to Reproduce (for bugs)

From https://githu

[2019-07-30 02:07] Qolzam commented on #84
I got the problem. Some times I forget to create the secret before pushing the function, *operator* get stuck in mounting the secret and doesn't work any more.

[2019-07-30 02:12] Qolzam commented on #84
Isn't any better way to see the error as I only see success message on deploying function from faas-cli. Also operator logs only showing that _Function replica reader error: deployment.apps "function_name" not found_?

[2019-08-05 12:53] alexellis commented on #85
Hi Lucas,

Can you suggest a fix for this in the code? cc @stefanprodan

Alex

[2019-08-22 11:08] LucasRoesler opened #87 "Rebuild and release with go 1.11.13 security patch"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

Because the docker build layers already use `golang:1.11` we should only need to rebuild and tag a new release to ensure that it is using the latest 1.11.13 base image

## Related
### Update Dockerfile and rebuild/r

[2019-08-22 14:33] alexellis commented on #87
/close: released as https://github.com/openfaas-incubator/openfaas-operator/releases/tag/0.10.0

[2019-08-22 14:33] #87 closed

[2019-08-25 21:39] charles-d-burton opened #88 "Update artifacts YAML"
The artifacts directory yaml files are way out of date, the pod definitions are pretty old and perhaps the other definitions are over.
## Expected Behaviour
Should be able to deploy from the artifacts directory.

## Current Behaviour
Does not deploy, image pull errors.

## Possible Solution
Update the yaml files

## Steps to Reproduce (for bugs)
kubectl apply -f artifacts/operator-armhf.yaml

## C

[2019-08-25 22:48] alexellis commented on #88
Hi @charles-d-burton

The operator is not being supported at this time for ARM64 due to lack of interest.

You can use faas-netes on ARM64, with the helm config, or feel free to submit a PR to update the YAML files you found here.

Cheers,

Alex

[2019-08-26 08:22] alexellis commented on #88
@stefanprodan + @LucasRoesler

I've deleted the armhf YAML file, but can you please update the amd64 artifact for the operator? Do we even need this anymore, given that it can be generated by the helm chart?

https://github.com/openfaas-incubator/openfaas-operator/blob/master/artifacts/operator-amd64.yaml

[2019-08-26 08:22] alexellis commented on #88
/set title: Update artifacts YAML

[2019-08-26 08:22] alexellis commented on #88
/add label: help wanted

[2019-08-26 08:26] LucasRoesler commented on #88
I don't think it is needed

[2019-08-26 18:27] alexellis commented on #88
I think people use it to test the operator on its own..

[2019-09-01 18:01] charles-d-burton commented on #88
Hey sorry, I didn't see the messages go by.  I can fix/update the yaml files for ARM64 pretty easily, I'm also fine using the helm templated files but I don't use helm mostly because running it in production is a special kind of nightmare.  If it's more useful I have a pattern for building Go apps that use Docker manifests to manage the arch under a single tag which lets Kubernetes make the decisi

[2019-09-02 12:59] LucasRoesler commented on #88
would it be reasonable to generate it from the latest helm release instead of hand grooming these?

[2019-09-02 19:32] alexellis commented on #88
@charles-d-burton can you use `helm template` to avoid your "special nightmare"? 😄

[2019-09-05 15:41] alexsorkin opened #89 "Support issue"
Function crd.yaml maybe be "applied" only once.
All subsequent attempt will fail with exception:

## Expected Behaviour

kubectl -n <namespace> apply -f function-crd.yaml
function <name> **created**

kubectl -n <namespace> apply -f function-crd.yaml
function <name> **updated**

## Current Behaviour
kubectl -n <namespace> apply -f function-crd.yaml
function <name> **created**

kubectl -n <namespace

[2019-09-05 15:47] alexellis commented on #89
Hi @alexsorkin

Thank you for your interest in OpenFaaS.

I am sorry to see that you are having some frustration with the operator, but "Impossible to upgrade function" is not quite descriptive enough and I don't think your example is something we can use to reproduce your issue.

Please create a public git repo or some examples that we can make use of.

I'll ping someone in the community to revie

[2019-09-05 15:47] alexellis commented on #89
/set title: Support issue

[2019-09-05 15:52] stefanprodan commented on #89
There is no `function-crd.yaml` in this repository. Please use:

[code]

[2019-09-05 15:53] alexsorkin commented on #89
Please try following on any function you have deployed, to reproduce the issue:

[root@icpmasterqa01 ~]# kubectl -n ops-fn get fn testing-function -o yaml | grep -v resourceVersion| kubectl -n ops-fn apply -f -
The functions "testing-function" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update

[2019-09-05 15:55] alexellis commented on #89
Can you share `function-crd.yaml` please?

[2019-09-05 15:56] alexsorkin commented on #89
resourceVersion should never be specified for kubernetes object update:
e.g:

[root@icpmasterqa01 ~]# kubectl -n ops-fn get **deploy** testing-function -o yaml | grep -v resourceVersion| kubectl -n ops-fn apply -f -
deployment.extensions/testing-function configured

[2019-09-05 15:57] alexellis commented on #89
Can you share function-crd.yaml please?

[2019-09-05 15:57] alexsorkin commented on #89
apiVersion: openfaas.com/v1alpha2
kind: Function
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"openfaas.com/v1alpha2","kind":"Function","metadata":{"annotations":{},"creationTimestamp":"2019-09-05T15:12:29Z","generation":1,"labels":{"app":"testing-function","heritage":"tiller","k8s-app":"example","package-name":"core-testing-package"},"name":

[2019-09-05 16:05] stefanprodan commented on #89
This is how Kubernetes works, you can't just take an object with `kubectl get -oyaml` and apply it again.

Use `kubectl -n ops-fn get function testing-function -oyaml --export`

[2019-09-05 16:05] LucasRoesler commented on #89
@alexsorkin the file you posted looks like it was generated from the kubectl response, for example `kubectl get Function foo --o yaml > function-crd.yaml`  In general, it is not possible to apply the yaml generated by the `kubectl` CLI because it contains immutable metadata.

Can you share how you generated the `function-crd.yaml`?

The `faas-cli` has a `faas-cli generate` command that is supposed

[2019-09-05 16:24] alexsorkin commented on #89
The original function.yaml:

apiVersion: openfaas.com/v1alpha2
kind: Function
metadata:
  labels:
    app: testing-function
    heritage: tiller
    k8s-app: example
    package-name: core-testing-package
  name: testing-function
  namespace: ops-fn
spec:
  annotations:
    com.openfaas.health.http.initialDelay: 10s
    com.openfaas.health.http.path: /healthz
    com.openfaas.health.http.periodSec

[2019-09-05 16:27] alexsorkin commented on #89
And... no... in General...

kubectl -n ops-fn get fn testing-function -o yaml | grep -v resourceVersion| kubectl -n ops-fn apply -f -

Is working for ALL kubernetes object.

[2019-09-05 17:22] alexsorkin commented on #89
Here is the issue:

[code]

[2019-09-05 17:31] alexsorkin commented on #89
Its unnecessary (breaking) to re-apply resourceVersion on to new Function instance.
`newFunc.ResourceVersion = oldFunc.ResourceVersion`

[2019-09-06 07:05] alexellis commented on #84
👍 glad you got this resolved.

Was the gateway auth secret missing?

Alex

[2019-09-06 07:05] #84 closed

[2019-09-06 07:06] alexellis commented on #84
If we can make this better, I'm open to suggestions @Qolzam

[2019-09-06 07:07] alexellis commented on #89
Thanks for providing the additional information.

We'll consider it and let you know our take.

[2019-09-06 07:13] Qolzam commented on #84
Thank you @alexellis . The function secret itself was missing. I deployed a function like `func1` which was missing the secret on K8S but I added that secret for `func1 stack.yml`. So when the function want to mount the secret for `func1` it can not find the secret in K8S.

[2019-10-19 07:58] bmcstdio opened #91 "'/system/namespaces' is not implemented"
## Expected Behaviour

`/system/namespaces` is implemented.

## Current Behaviour

`/system/namespaces` is not implemented (returns `404 page not found`).

## Possible Solution

* Call https://github.com/openfaas/faas-netes/blob/master/handlers/namespaces.go#L16-L29; or
* Copy & paste the code.

## Steps to Reproduce (for bugs)

1. Deploy the OpenFaaS operator.
2. Call `/system/namespaces`.

## Co

[2019-10-19 08:43] alexellis commented on #91
Hi @bmcstdio

The operator does not support namespaces at this time, because @stefanprodan hasn't worked on the feature yet.

Can you log an issue in the connector-sdk, if it crashes when the namespaces endpoint is not populated? This work was carried out by @viveksyngh who I'm sure can assist you there.

In the meantime, how do you feel about submitting a PR to add the `/system/namespaces` endpoi

[2019-10-19 08:46] alexellis opened #92 "[Feature] Add support for the namespaces endpoint"
## Expected Behaviour

Add support for the namespaces endpoint, as per faas-netes

## Current Behaviour

Currently unavailable (404)

## Possible Solution

* Quick fix / work-around: implement a stub that returns the default namespace
* Longer term fix: copy patches from faas-netes, test e2e with the operator

Related: #91

cc @stefanprodan @LucasRoesler

[2019-10-19 08:50] bmcstdio opened #93 "Implement leader election"
## Expected Behaviour

When multiple instances of the OpenFaaS gateway are deployed (for HA), only a single instance of the operator is actively syncing resources (so that no concurrent updates occur).

## Current Behaviour

When multiple instances of the OpenFaaS gateway are deployed (for HA), all instances of the operator are actively syncing resources (and concurrent updates occur).

## Possibl

[2019-10-19 09:03] bmcstdio commented on #91
That would probably not play nicely with https://github.com/openfaas-incubator/openfaas-operator/blob/master/main.go#L91-L94, right? If that is indeed the case, some refactoring might be necessary.

[2019-10-19 09:26] alexellis commented on #91
I'm missing the reason why.

I've added a unit test to the code in the connector-sdk, it should resolve the problem, can you try 0.5.2? https://github.com/openfaas-incubator/connector-sdk/commit/75603247065ba336eb56940e68b619b85d09b4dc

[2019-10-19 09:28] alexellis commented on #91
In any case, it should resolve the fatal error, I'll leave it with @viveksyngh from here who owns that code.

[2019-10-19 09:31] alexellis commented on #93
@stefanprodan what are your thoughts? Is this something you want and do you want to implement it, or have Bruno work on it?

[2019-10-19 09:58] stefanprodan commented on #93
Copy/pasting this function should do it https://github.com/weaveworks/flagger/blob/master/cmd/flagger/main.go#L240

If Bruno wants to do it, I can review the PR.

[2019-10-19 10:36] LucasRoesler commented on #93
Couldn't this also be achieved by splitting the gateway from the operator so that it can be deployed as a Singleton?

What do we gain by having the operator HA with a single leader doing all the work, it seems like it would just use up cpu/memory requests on the nodes.

Also, I was under the impression that rolling deploys of applications that have leadership like this is non trivial, how do you d

[2019-10-19 10:54] stefanprodan commented on #93
The reason I’ve implemented leader election in Flagger is to deal with Kubernetes deployments. Kubernetes doesn’t guarantee singletons for deployments, having a lock makes the rolling update safe as a single instance will be active at all times.

[2019-10-19 11:07] bmcstdio commented on #93
Before I go in and implement this, can we please agree that it is the thing to do?

[2019-10-19 12:32] bmcstdio opened #95 "Remove comparison between the '.spec' fields so that resources can be re-synced"
## Expected Behaviour

If syncing of my `Function` resource fails for some reason (failed to create the deployment/service, etc...), I am expecting the operator to try to sync it again after the configured [_resync period_](https://github.com/openfaas-incubator/openfaas-operator/blob/master/main.go#L100) elapses.

## Current Behaviour

The operator will _never_ retry syncing the `Function` resourc

[2019-10-19 12:40] bmcstdio commented on #95
To give some more context, this kind of prevents a pipeline based on [Flux](https://fluxcd.io/) (and possibly, but not necessarily, [Sealed Secrets](https://github.com/bitnami-labs/sealed-secrets)) from working without human interaction, because when the `Function` resource is created the `Secrets` resources it requires may not exist:

[code]

The operator won't perform any further reconciliation

[2019-10-20 15:55] bmcstdio opened #96 "Support multiple namespaces"
## Expected Behaviour

`Function` resources created in multiple different namespaces are picked up and synced.

## Current Behaviour

Only functions in a single namespace (by default `openfaas-fn`) are picked up and synced.

## Possible Solution

* Make the operator watch resources across all Kubernetes namespaces.
* Introduce the required RBAC policies (cluster role and cluster role binding).
* C

[2019-10-20 15:57] bmcstdio commented on #96
@alexellis @stefanprodan I can start working on this if that's OK.

[2019-10-20 15:57] alexellis commented on #96
@burtonr Have you seen #92, this seems like a dupe?

[2019-10-20 15:59] bmcstdio commented on #96
It's @bmcstdio 🙂 From what I understood #92 deals only with the `/system/namespaces` endpoint. Granted there's more to multiple namespace support than that? 🙂

[2019-10-21 07:34] alexellis commented on #93
I have been thinking about the idea and I am not sure how it makes sense at present.

The operator implements the faas-provider interface, so if there is a leader and a "follower", could someone explain to me how the follower can implement the CRUD interface?

I.e.

Req 1 [create function x] -> Leader -> creates object
Req 2 [create function y] -> Follower -> refuses to "write"

Alex

[2019-10-21 07:37] alexellis commented on #93
I also have concerns about the suggestion to move the faas-provider (openfaas-operator) outside of the gateway Pod. How would that be implemented securely? What would implement the REST HTTP API?

[2019-10-21 07:37] bmcstdio commented on #93
Neither does having two instances of the operator acting concurrently upon the same resources, does it? 🙂

The follower is in "stand-by" mode. It is only active whenever the previous leader stops renewing its lease for some reason, and is not supposed to perform any action at all while in "stand-by".

[2019-10-21 07:39] alexellis commented on #95
Could you provide a worked example or repo that we can use to reproduce the example?

Ideally it should be a few lines we can paste into KinD or minikube to see the error for ourselves.

[2019-10-21 07:40] alexellis commented on #96
IMHO it's the same thing, adding the endpoint and having it work means that any requisite work is also done.

[2019-10-21 07:40] #96 closed

[2019-10-21 07:40] alexellis commented on #96
/add label: duplicate

[2019-10-21 07:41] stefanprodan commented on #93
The leader does reconciliation while the other instances don't. All instances will expose the HTTP API for CRUD since the CRUD actions are agains Functions not Deployments.

[2019-10-21 10:53] alexellis commented on #93
Thank you for answering the question Stefan.

So leader-election is only for reconciliation outside of the CRUD calls, therefore the CRUD calls are unaffected in the scenario I outlined above.

[2019-10-29 14:32] alexellis opened #99 "[Backlog] Add logs feature"
## Expected Behaviour

The Operator should be able to serve logs just like faas-netes.

## Current Behaviour

Not currently available.

## Possible Solution

This is the faas-netes implementation:

https://github.com/openfaas/faas-netes/blob/master/handlers/log.go

[2019-10-29 15:05] alexellis commented on #99
FYI @bmcstdio

[2019-11-01 09:04] alexellis commented on #95
Requesting review from @stefanprodan, who I understand is a bit short on time at the moment.

Did you have an example we can use @bmcstdio ?

[2019-11-01 09:05] alexellis commented on #92
@bmcstdio is this something you would like to work on?

[2019-11-25 03:55] wonderflow opened #100 "can't install openfaas-operator with chart repo(https://openfaas.github.io/faas-netes)"
I tried [install guide in the README](https://github.com/openfaas-incubator/openfaas-operator#deploy-openfaas-with-the-operator), but failed to install.

The blocking points is that I can't update chart from `https://openfaas.github.io/faas-netes/`

[code]

## Possible Solution

So I tried install with helm template(using helm v3), it work.

### render the chart and write into `install.yaml`

[cod

[2019-11-25 10:35] alexellis commented on #100
I have no issues with the helm chart repo.

I'm going to close the issue because it looks like it's to do with your networking configuration. If other folks turn up with the same issue we'll spend some more time on it.

[code]

[2019-11-25 10:35] #100 closed

[2019-11-25 14:28] alexellis commented on #99
cc @Waterdrips

[2019-11-25 14:28] alexellis commented on #92
cc @Waterdrips

[2019-11-25 15:29] alexellis commented on #95
From Bruno - this change was needed for his use-case:

https://github.com/form3tech-oss/openfaas-operator/commit/c39b71548cca354150f6d870dcb87cd7fc20e637

[2019-11-25 15:46] #99 closed

[2019-11-25 15:48] alexellis commented on #95
[code]

@bmcstdio feel free to raise a PR.

[2019-11-25 15:49] alexellis commented on #95
cc @LucasRoesler

[2019-11-25 15:58] alexellis opened #102 "Update proxy to use endpoint load-balancing"
Update proxy to use endpoint load-balancing

## Expected Behaviour

As per faas-netes, the proxy should use endpoint load-balancing between pods discovered via the endpoints mechanism.

## Current Behaviour

The code still uses the Kubernetes Service which can result in sticky connections and poor load-balancing between replicas.

## Possible Solution

See https://github.com/openfaas/faas-netes/pu

[2019-11-25 16:00] alexellis commented on #92
A quick-fix has been implemented to return the default namespace, but we still need to add support for managing/fetching valid namespaces.

[2019-11-25 16:22] stefanprodan commented on #92
To avoid using a cluster role, we could add a flag with a list of namespace to the operator cmd. At startup we would create a controller per namespace that runs in is own go routine.

[2019-11-25 19:55] bmcstdio commented on #92
@stefanprodan I think that approach is over-complicated and error prone. What is the issue with using a cluster role?

[2019-11-27 10:15] #102 closed

[2020-01-17 14:21] alexellis commented on #92
We've discussed this and see pros/cons in both approaches. Since the optional ClusterRole is available for faas-netes, we want to copy that approach and then revisit once we have parity.

[2020-01-17 14:21] alexellis commented on #92
/set title: [Feature] Add support for managing multiple-namespaces

[2020-01-17 14:22] alexellis commented on #92
See https://github.com/openfaas/faas-netes/issues/511 for how this was completed in other components.

[2020-01-17 14:34] adamjohnson01 commented on #92
I will look look into this over the weekend.

[2020-01-19 15:04] #89 closed

[2020-01-19 15:04] #95 closed

[2020-01-19 15:08] alexellis opened #106 "Remove or disable "replicas" in spec"
Some users have tried to set a minimum level of scale by using the replicas field in the spec, but this is not supported by the autoscaler, instead users should use the proper labels.

https://docs.openfaas.com/architecture/autoscaling/#minmax-replicas

[2020-01-19 15:09] alexellis commented on #106
@stefanprodan please take a look. Do you have any suggestions for a solution?

[2020-01-19 15:10] alexellis commented on #92
@adamjohnson01 did you have any questions? Feel free to coordinate with @stefanprodan and @LucasRoesler

[2020-01-19 23:54] adamjohnson01 commented on #92
@alexellis, I did not get much time this weekend but I have started going through the code.

[2020-01-24 10:12] ivanovaleksandar opened #108 "Label for scale min replicas doesn't do anything"
## Expected Behaviour

Providing label for min amount of replicas should scale the amount to the desired number.
## Current Behaviour

The label for min scale doesn't do anything.
## Steps to Reproduce (for bugs)

1. Deploy gateway + operator + needed permissions
2. Deploy function with `com.openfaas.scale.min` set to number larger than `1`
[code]
[code]

[code]
3. Update label to a different valu

[2020-01-24 11:31] stefanprodan commented on #108
Fixed in #107

[2020-02-04 12:15] alexellis opened #109 "realpath: command not found"
## Expected Behaviour

I should be able to update the codegen for the operator on a Mac

## Current Behaviour

[code]

Version:

[code]

Perhaps @stefanprodan you have a newer version of bash with this utility? It's also not on brew, so I think we should revert to a more portable/compatible utility instead.

Can you send a PR at your earliest convenience please as this is blocking?

[2020-02-05 11:43] #106 closed

[2020-02-05 11:43] #108 closed

[2020-02-05 11:43] #109 closed

[2020-02-05 11:47] alexellis commented on #88
@LucasRoesler anything required on this? If not, please close out.

[2020-02-05 11:47] #74 closed

[2020-02-05 11:48] alexellis commented on #85
@LucasRoesler @stefanprodan please give comment?

[2020-02-05 17:02] LucasRoesler commented on #88
As of today, i think these are updated now

[2020-02-05 17:02] #88 closed

[2020-02-06 21:29] amila-ku commented on #85
@alexellis i would like to work on this.

[2020-03-10 09:57] brandonkal opened #112 "Mention operator is not supported or prioritized"
From my conversation on Slack, I came to realize installing/testing the operator is discouraged and resources are not available to maintain this. Others may find this information useful in the README. I had previously thought this was planned to supersede the other approach on Kubernetes.

[2020-03-10 10:57] #112 closed

[2020-03-10 10:58] alexellis commented on #112
This is not the case, I am not sure how you came to believe this to be true.

The operator is not currently supported in OpenFaaS Cloud when using ofc-bootstrap.

[2020-03-10 10:59] alexellis commented on #112
/set title: Question about OpenFaaS Cloud

[2020-03-16 17:32] joelcorporan opened #114 "Unexpected status: 500, message: Function.openfaas.com "<SOME_FUNCTION>" is invalid"
I'm following a the tutorial for running OpenFaaS on AWS (https://aws.amazon.com/blogs/opensource/deploy-openfaas-aws-eks/) and deploying the function on that tutorial. However, I'm having issues deploying a function. I'd get a 500 message.

## Expected Behaviour
[code]
200 Status

## Current Behaviour
[code]
[code]
## Your Environment

* FaaS-CLI version 0.11.8
* Docker version 19.03.8
* Kubernet

[2020-03-19 12:11] alexellis commented on #114
I was able to reproduce this issue with the following:

[code]

And:

[code]

Output:

[code]

[2020-03-19 12:11] alexellis commented on #114
@stefanprodan @LucasRoesler PTAL

[2020-03-19 12:12] alexellis commented on #114
@joelcorporan we'll take a look at this, in the meantime, you can work without the operator and use the same guide to install and use openfaas.

[2020-03-19 15:08] alexellis opened #117 "Add a "faas-cli deploy" statement to e2e tests"
We recently had regression that could have been avoided up by testing both the CRD and REST deployment mechanisms in #114, the e2e tests only test the CRD deployment.

Update the e2e tests to deploy a single OpenFaaS function via REST

https://github.com/openfaas/openfaas-operator/tree/master/e2e

For instance:

[code]

There's no need to build and push an image, just deploy one. Perhaps one of th

[2020-04-09 22:30] laco opened #118 "Scaling functions deployed with the operator leads to unnecessary pod terminations"
Because of the  `com.openfaas.function.spec` annotation in the pod template part of the generated deployment, every time the replicas count change, a new replicaset resource generates based on the changed pod template hash.
Upgrading to a new replicaset leads to insufficient pod terminations during an upscale.

## Expected Behaviour
During a upscale the existing pods should be kept running and onl

[2020-04-15 15:49] jrcichra commented on #114
Is this still an issue? I got a similar message with the latest KinD and a python3 stock function.

Later today I'll see if I can reproduce the issue, maybe in a small github actions CI repo with a matrixed KinD version. Then I can look into a PR for testing.

[2020-04-15 15:57] jrcichra commented on #114
Ah, noticed the reference. Linking for Googlers: https://github.com/openfaas/openfaas-operator/issues/117

[2020-04-15 16:59] alexellis commented on #114
No, it's not an issue anymore AFAIK. @stefanprodan sent a PR which was merged and released.

Could you please raise your own issue on the faas-netes repo with all the instructions we will require to reproduce the issue?

[2020-04-15 16:59] #114 closed

[2020-04-15 17:00] alexellis commented on #114
/lock: resolved by a PR, raise a new issue for subsequent issues